<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Membresia</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <h1>Lista de membresías</h1>
        <ul>
            {% for membresia in lista_de_membresias %}
                <li><strong>Tipo:</strong> {{ membresia.tipo }} <strong>- Precio:</strong> {{ membresia.precio }} <strong> - Inicio (mese):</strong> {{ membresia.fecha_inicio}}<strong> - Fin (mese):</strong> {{ membresia.fecha_fin}}</li>
                <br>
            {% endfor %}
        </ul>
        <p><a href="{% url 'inicio' %}">Volver al inicio</a></p>
    </body>
</html>